// This is a test program to verify pointer operations on the THIS and THAT segments
// Author: Naga Kandasamy
// Date: September 3, 2020
// Orignal source: "The Elements of Computing Systems" by Nisan and Schocken, MIT Press.
// Correct result:
// RAM[256] RAM[3]  RAM[4] RAM[3032] RAM[3046]
//  6084    3030     3040      32       46 

set sp 256
set this 3000
set that 3010
push constant 3030
pop pointer 0
push constant 3040
pop pointer 1
push constant 32
pop this 2
push constant 46
pop that 6
push pointer 0
push pointer 1
add
push this 2
sub
push that 6
add
end